<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="./test.js"></script>
</head>

<body>
    <h1>Test Functionality:</h1>
    <h2>Download File:</h2>
    <button onclick="downloadTest()">Download File</button>
    <h2>Upload File:</h2>
    <form id="fileUploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept=".txt,.pdf,.docx,.js" />
        <button type="button" id="uploadButton">Upload</button>
    </form> <div id="status"></div>
</body>

<script defer>
    function downloadTest() {
        const token = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0dXNlcjk5IiwiaWF0IjoxNjk5ODg4NTU5LCJleHAiOjE2OTk4OTU3NTl9.D5rbnseyTSiT74kkEtin5T3zpFGNCMNsp6w9u6p9DlM'; // Replace with your actual Bearer token

        let link = document.createElement("a");
        document.body.appendChild(link);
        link.download = "test.txt";
        link.href = "/api/user/download?filename=test.txt&directory=";

        fetch(link.href, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`
            }
        })
        .then(response => response.blob())
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            link.href = url;
            link.click();
            window.URL.revokeObjectURL(url);
        })
        .catch(error => console.error('Error:', error));
    }
</script>

<script>
document.getElementById('uploadButton').addEventListener('click', function() {
    const fileInput = document.getElementById('fileInput');
    const status = document.getElementById('status');

    const formData = new FormData();
    formData.append('file', fileInput.files[0]);
    formData.append('directory', '');

    const token = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0dXNlcjk5IiwiaWF0IjoxNjk5ODg4NTU5LCJleHAiOjE2OTk4OTU3NTl9.D5rbnseyTSiT74kkEtin5T3zpFGNCMNsp6w9u6p9DlM'; // Replace with your actual Bearer token

    fetch('/api/user/upload', {
        method: 'POST',
        headers: {
            'Authorization': `Bearer ${token}`
        },
        body: formData
    })
    .then(response => response.text())
    .then(data => {
        status.innerHTML = data.message;
    })
    .catch(error => {
        status.innerHTML = 'Error: ' + error.message;
    });
});
</script>

</html>